{% extends 'base/base.html' %} {% block content %}
<div class="container">
  <form method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      {{ form.titulo|as_crispy_field }}
    </div>
    <div class="mb-3">
      <label for="conteudo" class="form-label">Conteúdo</label>
      {{ form.conteudo|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
{% endblock %}
