{% extends 'base/base.html' %}

{% block content %}
    <div class="post">
        {% if post.data_publicacao %}
            <div class="date">
                <p>{{ post.data_publicacao }}</p>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.titulo }}</h2>
        <p>{{ post.conteudo|linebreaksbr }}</p>
    </div>
{% endblock %}